.quiz-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.quiz-container button {
  border-radius: 10px;
  margin: 10px 0; /* Änderung zur Trennung der Schaltflächen */
  padding: 10px 80px; /* Änderung zur Vergrößerung der Schaltflächen und Verlängerung */
  font-size: 12px;
  background-color: rgb(227, 227, 251); /* Hinzufügen der blauen Farbe */
  color: rgb(16, 16, 16); /* Ändern der Textfarbe in Weiß für Kontrast */
  display: block; /* Anzeigen der Schaltflächen in einer separaten Zeile */
}

.quiz-container button.correct {
  background-color: rgb(60, 218, 60);
  color: rgb(219, 231, 219);
}

.quiz-container button.wrong {
  background-color: rgb(225, 44, 44);
  color: white;
}

.quiz-container p {
  font-size: 18px;
  margin: 15px 0; /* Ändern zur Trennung der Antworten */
}

.quiz-container .correct-answer {
  color: #edf3ed;
}

.quiz-container .wrong-answer {
  color: rgb(238, 225, 225);
}

.navigation-buttons {
  display: flex;
  justify-content: center; /* Zentrieren der Schaltflächen horizontal */
  margin-bottom: 15px; /* Anpassen des Platzes unter den Schaltflächen */
}

.prev-button,
.next-button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 0 5px; /* Abstand zwischen den Schaltflächen */
}

.show-answer-button {
  display: inline-block; /* Ändern, um die Schaltfläche in derselben Zeile anzuzeigen */
  margin-left: 20px; /* Hinzufügen eines Abstands zwischen den Schaltflächen */
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4343da;
  color: white;
  border: none;
  cursor: pointer;
}

.show-answer-button:hover {
  background-color: #1f2bb1;
}

.feedback-button {
  display: inline-block; /* Ändern, um die Schaltfläche in derselben Zeile anzuzeigen */
  margin-left: 20px; /* Hinzufügen eines Abstands zwischen den Schaltflächen */
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4343da;
  color: white;
  border: none;
  cursor: pointer;
}

.feedback-button:hover {
  background-color: #1f2bb1;
}

.full-answer p {
  font-size: 14px;
  margin: 10px 0;
}

/* Stile für die Fragenummer */
.question-number {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

/* Hinzufügen eines speziellen Containers für Antwortschaltflächen */
.answer-buttons {
  margin: 20px 0;
}

.answer-buttons button {
  width: 100%; /* Schaltflächen auf die gesamte Breite des Containers erweitern */
  max-width: 500px; /* Maximale Breite begrenzen */
  padding: 15px; /* Erhöhen des Padding, um die Schaltflächen zu vergrößern */
  margin: 10px auto; /* Zentrieren der Schaltflächen und Abstand zwischen ihnen */
  font-size: 16px; /* Schriftgröße erhöhen */
}

/* Container für Antwort- und Feedbackschaltfläche */
.answer-feedback-container {
  display: flex;
  justify-content: space-between; /* Anordnen der Schaltflächen am Rand des Containers */
  align-items: center; /* Ausrichten der Schaltflächen vertikal */
  margin: 20px 0;
}

.feedback-toggle-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4343da;
  color: white;
  border: none;
  cursor: pointer;
}

.feedback-toggle-button:hover {
  background-color: #1f2bb1;
}

.feedback-buttons {
  display: flex;
  flex-direction: column; /* Vertikale Ausrichtung der Schaltflächen */
}

.star-rating {
  margin-top: 10px;
}

.star {
  font-size: 24px;
  cursor: pointer;
}

.star.selected {
  color: gold;
}

.feedback-buttons span {
  cursor: pointer;
}

.quiz-container {
  display: flex;
}

.number-box {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px; /* Abstand zwischen Rahmen und Inhaltsfragen */
}

.dot {
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot-container {
  position: absolute;
  top: 20px; /* Vertikaler Abstand anpassen */
  right: 20px; /* Abstand von der rechten Kante anpassen */
  width: 3cm; /* Gewünschte Breite */
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 gleichmäßige Spalten */
  grid-template-rows: repeat(5, 1fr); /* 5 gleichmäßige Zeilen */
  grid-gap: 5px; /* Abstand zwischen den Punkten */
}
.result-container {
  color: rgb(255, 25, 0); /* Textfarbe auf Blau setzen */
}
.result-container p {
  color: rgb(255, 25, 0);   /* Textfarbe auf Blau setzen */
}
