.change-password-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fffbfb; /* Dunkler Hintergrund, damit weißer Text besser lesbar ist */
  text-align: center;
}

.change-password-container h2 {
  margin-bottom: 15px;
  margin-left: 10px;
  color: rgb(91, 91, 103); /* Textfarbe weiß */
}

.change-password-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.change-password-container label {
  display: block;
  margin-bottom: 5px;
  color: white; /* Textfarbe weiß */
  text-align: left;
}

.change-password-container input {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color:whitesmoke; /* Dunkleres Eingabefeld */
  color: white; /* Textfarbe weiß */
}

.change-password-container button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.change-password-container button:hover {
  background-color: #45a049;
}
.sign-up-button {
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sign-up-button:hover {
  background-color: #0056b3;
}

