.forgot-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2c3e50; /* Fundal întunecat */
}

.forgot-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh; /* Înălțime ajustată */
  background-color: #73b4d0; /* Culoare de fundal actualizată */
  width: 600px; /* Lățime mărită pentru un container mai mare */
  padding: 40px; /* Pătrare mărită pentru mai mult spațiu intern */
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

.forgot-password-container h2 {
  margin-bottom: 20px;
  color: #333; /* Text întunecat */
}

.forgot-password-container form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Spațiere mărită între elemente */
  width: 100%; /* Asigură că formularul ocupă toată lățimea containerului */
}

.forgot-password-container label {
  display: block;
  margin-bottom: 5px;
  color: #333; /* Text întunecat */
  text-align: left;
}

.forgot-password-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9; /* Culoare de fundal mai deschisă pentru câmpuri */
  color: #333; /* Text întunecat */
}

.forgot-password-container button {
  width: 100%;
  padding: 15px; /* Pătrare mărită pentru un buton mai mare */
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forgot-password-container button:hover {
  background-color: #45a049;
}
