.forgot-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2c3e50; /* Dunkler Hintergrund */
}

.forgot-password-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff; /* Weißer Hintergrund */
  text-align: center;
}

.forgot-password-container h2 {
  margin-bottom: 20px;
  color: #333; /* Dunkler Text */
}

.forgot-password-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.forgot-password-container label {
  display: block;
  margin-bottom: 5px;
  color: #333; /* Dunkler Text */
  text-align: left;
}

.forgot-password-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9; /* Helleres Eingabefeld */
  color: #333; /* Dunkler Text */
}

.forgot-password-container button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forgot-password-container button:hover {
  background-color: #45a049;
}
