.sign-up-button {
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sign-up-button:hover {
  background-color: #0056b3;
}

.login-links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.forgot-password-link {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.forgot-password-link:hover {
  color: #0056b3;
}
