/* Base Styles */
.sign-up-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2c3e50; /* Dark background */
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto; /* Adjusted height */
  background-color: #73b4d0; /* Updated background color */
  width: 90%; /* Use percentage for responsiveness */
  max-width: 600px; /* Set a max width */
  padding: 20px; /* Adjusted padding for smaller screens */
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

.sign-up-container h2 {
  margin-bottom: 20px;
  color: #333; /* Dark text */
}

.sign-up-container form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Increased spacing between elements */
  width: 100%; /* Ensure the form takes the full width of the container */
}

.sign-up-container label {
  display: block;
  margin-bottom: 5px;
  color: #333; /* Dark text */
  text-align: left;
}

.sign-up-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9; /* Lighter input field */
  color: #333; /* Dark text */
}

.sign-up-container button {
  width: 100%;
  padding: 15px; /* Increased padding for a larger button */
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sign-up-container button:hover {
  background-color: #45a049;
}

/* Media Queries for Responsiveness */
@media (min-width: 600px) {
  .sign-up-container {
    padding: 30px; /* Increase padding for larger screens */
  }

  .sign-up-container button {
    padding: 15px;
  }
}

@media (min-width: 768px) {
  .sign-up-container {
    width: 80%; /* Adjust width for tablets */
  }
}

@media (min-width: 1024px) {
  .sign-up-container {
    width: 600px; /* Fixed width for larger screens */
  }
}
