.sign-up-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #2c3e50; /* Dunkler Hintergrund */
  }
  
  .sign-up-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 80px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color:white; 
    text-align: center;
    
  }
  
  .sign-up-container h2 {
    margin-bottom: 20px;
    color:black; /* Textfarbe weiß */
  }
  
  .sign-up-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .sign-up-container label {
    display: block;
    margin-bottom: 5px;
    color: white; /* Textfarbe weiß */
    text-align: left;
  }
  
  .sign-up-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: whitesmoke; /* Dunkleres Eingabefeld */
    color: white; /* Textfarbe weiß */
  }
  
  .sign-up-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sign-up-container button:hover {
    background-color: #45a049;
  }
  