.container {
  width: 90%;
  max-width: 640px;
  margin: auto;
  margin-top: 150px;
  background-image: url('path/to/your/image.jpg');
  background-size: cover; /* Damit das Bild den gesamten Container bedeckt */
  background-repeat: no-repeat; /* Damit das Bild nicht wiederholt wird */
  color: #262626;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 40px 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
body{
height: 100vh;
background-image: linear-gradient(#D8C7FF, #19006C);
font-family:'poppins', sans-serif;
}



